<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
        <EncryptedData>
            <CipherData>
                <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAASTpRxoDkXkqzFon+yPqUMAQAAAACAAAAAAADZgAAwAAAABAAAAB4iFktITfM1+74HtuRxbgWAAAAAASAAACgAAAAEAAAAJTm/VmkYWR+pJPRnjZwUygwAAAA2zYKdmJPmlCntn+VLDjR2Xn17PPpq5VAzxDhxiR7PagNE4tfeunH2mv3cwIPyzcsFAAAAHiDGRiHfXuYl2RS/vK0KTvvA0W7</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>